<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa-solid fa-book-open"></i> BookApp
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-book"></i> Böcker
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quotes" routerLinkActive="active">
            <i class="fa-solid fa-quote-left"></i> Mina citat
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item">
          <button class="btn btn-outline-secondary btn-sm me-lg-3 my-2 my-lg-0" (click)="toggleTheme()">
            @if (isDark) {
            <i class="fa-solid fa-sun"></i> Ljust
            } @else {
            <i class="fa-solid fa-moon"></i> Mörkt
            }
          </button>
        </li>

        @if (authService.isLoggedIn()) {
        <li class="nav-item">
          <span class="navbar-text me-3">
            <i class="fa-solid fa-user"></i> {{ authService.getUsername() }}
          </span>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger btn-sm" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i> Logga ut
          </button>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fa-solid fa-right-to-bracket"></i> Logga in
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">
            <i class="fa-solid fa-user-plus"></i> Registrera
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>

<main class="container py-4">
  <router-outlet />
</main>